.card img {
    max-height: 200px;
    object-fit: cover;
}
.card img.materialized.active {
    max-height: none;
    object-fit: none;
}
.modal-content > img, video, audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.ctb{
    background-color: black;
    padding: 0 5px 5px 5px;
}